{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% include 'includes/alert.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_navbar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Cập nhật mật khẩu</strong>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{% url 'change_password' %}"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Mật khẩu hiện tại</label>
                                        <input type="password" name="current_password"
                                        placeholder="Mật khẩu hiện tại" class="form-control" required/>
                                    </div>
                                    <div class="form-group">
                                        <label>Mật khẩu mới</label>
                                        <input type="password" name="new_password"
                                        placeholder="Mật khẩu mới" class="form-control" required/>
                                    </div><div class="form-group">
                                        <label>Xác nhận mật khẩu</label>
                                        <input type="password" name="confirm_password"
                                        placeholder="Xác nhận mật khẩu" class="form-control" required/>
                                    </div>

                                    <input type="submit" class="btn btn-primary" value="Cập nhật">
                                </form>
                            </div>
                        </div>
                    </div> <!-- row.// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}