{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% include 'includes/alert.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_navbar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Cập nhật thông tin</strong>
                    </header>
                    <div class="card-body">
                        <div class="text-right">
                            <img src="{{user_profile.avatar.url}}" width="100"
                                 style="border-radius:50px;"
                                 alt="User Avatar">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{% url 'edit_profile' %}"
                                      enctype="multipart/form-data"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Họ</label>
                                            {{user_form.first_name}}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tên</label>
                                            {{user_form.last_name}}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Số điện thoại</label>
                                            {{user_form.phone_number}}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Ảnh đại diện</label>
                                            {{profile_form.avatar}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Địa chỉ 1</label>
                                        {{profile_form.address_line_1}}
                                    </div>
                                    <div class="form-group">
                                        <label>Địa chỉ 2</label>
                                        {{profile_form.address_line_2}}
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>Thành phố</label>
                                            {{profile_form.city}}
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Khu vực</label>
                                            {{profile_form.state}}
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Quốc gia</label>
                                            {{profile_form.country}}
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Lưu">
                                </form>
                            </div>
                        </div>
                    </div> <!-- row.// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}