{% extends 'base.html' %} {% block content %}
<section class="section-conten padding-y" style="min-height: 84vh">
  <!-- ============================ COMPONENT LOGIN   ================================= -->

  <div class="card mx-auto" style="max-width: 500px; margin-top: 100px">
    {% include 'includes/alert.html' %}
    <div class="card-body">
      <h4 class="card-title mb-4">Quên mật khẩu</h4>
      <form action="{% url 'forgot_password' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Địa chỉ email"
            name="email"
          />
        </div>


        <div class="form-group">
          <a href="{% url 'login' %}" class="float-right">Đăng nhập</a>
        </div>
        <!-- form-group form-check .// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Thiết lập lại</button>
        </div>
        <!-- form-group// -->
      </form>
    </div>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->

  <p class="text-center mt-4">
    Bạn chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký tại đây</a>
  </p>
  <br /><br />
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
{% endblock %}
