{% extends 'base.html' %} {% block content %}
<section class="section-conten padding-y" style="min-height: 84vh">
  <!-- ============================ COMPONENT LOGIN   ================================= -->
  {% if request.GET.command == 'verification' %}
  <div class="container mx-auto alert alert-info" role="alert" style="max-width: 380px; margin-top: 100px">
    Cảm ơn bạn đã đăng ký tài khoản trên hệ thống của chúng tôi. Vui lòng kiểm tra email [{{request.GET.email}}] và thực hiện theo hướng dẫn để kích hoạt tài khoản.
    <br/><br/>
    <a href="{% url 'login' %}">Đăng nhập tại đây</a>
  </div>
  {% else %}
  <div class="card mx-auto" style="max-width: 380px; margin-top: 100px">
    {% include 'includes/alert.html' %}
    <div class="card-body">
      <h4 class="card-title mb-4">Sign in</h4>
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Địa chỉ email"
            name="email"
          />
        </div>
        <!-- form-group// -->
        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Mật khẩu" />
        </div>
        <!-- form-group// -->

        <div class="form-group">
          <a href="{% url 'forgot_password' %}" class="float-right">Quên mật khẩu?</a>
        </div>
        <!-- form-group form-check .// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
        </div>
        <!-- form-group// -->
      </form>
    </div>
    <!-- card-body.// -->
  </div>
  {% endif %}
  <!-- card .// -->

  <p class="text-center mt-4">
    Bạn chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký tại đây.</a>
  </p>
  <br /><br />
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
{% endblock %}
