{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% include 'includes/alert.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/dashboard_navbar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Lịch sử đặt hàng</strong>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">Mã #</th>
                                        <th scope="col">Tên hóa đơn</th>
                                        <th scope="col">Số điện thoại</th>
                                        <th scope="col">Tổng đơn hàng</th>
                                        <th scope="col">Thời gian</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <th scope="row"><a href="{% url 'order_detail' order.order_number %}">{{order.order_number}}</a>
                                        </th>
                                        <td>{{order.full_name}}</td>
                                        <td>{{order.phone}}</td>
                                        <td>{{order.order_total}}</td>
                                        <td>{{order.created_at}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- row.// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}