{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y">

  <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
          {% include 'includes/alert.html' %}
      <header class="mb-4"><h4 class="card-title">Đăng ký</h4></header>
      <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
          <!-- {{form.as_p}} -->
          <div class="form-row">
            <div class="col-6 form-group">
              <label>Họ</label>
                {{form.first_name}}
            </div> <!-- form-group end.// -->
            <div class="col-6 form-group">
              <label>Tên</label>
              {{form.last_name}}
            </div> <!-- form-group end.// -->
          </div> <!-- form-row end.// -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label >Địa chỉ email</label>
              {{form.email}}
              <small class="form-text text-muted">Chúng tôi sẽ không chia sẻ thông tin của bạn với bất kỳ ai.</small>
            </div>
            <div class="form-group col-md-6">
              <label >Số điện thoại</label>
              {{form.phone_number}}
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Mật khẩu</label>
                {{form.password}}
            </div> <!-- form-group end.// -->
            <div class="form-group col-md-6">
              <label>Nhập lại mật khẩu</label>
                {{form.confirm_password}}
            </div> <!-- form-group end.// -->
          </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Đăng ký</button>
            </div> <!-- form-group// -->
          {{form.non_field_errors}}
        </form>
      </article><!-- card-body.// -->
      </div> <!-- card .// -->
      <p class="text-center mt-4">Bạn đã có tài khoản? <a href="{% url 'login' %}">Đăng nhập</a></p>
      <br><br>
  <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


  </section>
{% endblock %}