{% extends 'base.html' %} {% block content %}
<section class="section-conten padding-y" style="min-height: 84vh">
  <!-- ============================ COMPONENT LOGIN   ================================= -->

  <div class="card mx-auto" style="max-width: 380px; margin-top: 100px">
    {% include 'includes/alert.html' %}
    <div class="card-body">
      <h4 class="card-title mb-4">Thiết lập lại mật khẩu</h4>
      <form action="{% url 'reset_password' %}" method="POST">
        {% csrf_token %}

        <!-- form-group// -->
        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Mật khẩu mới" />
        </div>
        <!-- form-group// -->
        <!-- form-group// -->
        <div class="form-group">
          <input type="password" name="confirm_password" class="form-control" placeholder="Xác nhận mật khẩu" />
        </div>
        <!-- form-group// -->


        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Thiết lập lại</button>
        </div>
        <!-- form-group// -->
      </form>
    </div>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->

  <p class="text-center mt-4">
    Bạn chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký</a>
  </p>
  <br /><br />
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
{% endblock %}
