<aside class="col-md-3">
      <!--   SIDEBAR   -->
      <ul class="list-group">
        <a class="list-group-item {% if '/accounts/' == request.path %} active {%endif%}" href="{% url 'dashboard' %}">Bảng điều khiển</a>
        <a class="list-group-item {% if 'my-orders' in request.path %} active {%endif%}" href="{% url 'my_orders' %}">Đơn hàng của tôi</a>
        <a class="list-group-item{% if 'edit-profile' in request.path %} active {%endif%}" href="{% url 'edit_profile' %}">Cập nhật thông tin</a>
        <a class="list-group-item {% if 'change-password' in request.path %} active {%endif%}" href="{% url 'change_password' %}">Thay đổi mật khẩu</a>
      </ul>
      <br>
      <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Đăng xuất</span> </a>
      <!--   SIDEBAR .//END   -->
    </aside>