{%load static%}
<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-bottom border-top row">
      {% for location in locations %}
        <div class="col-md-3">
        <p class="text-muted" id="textCopyright">Bản quyền của {{location.company_name}}</p>
      </div>
      <div class="col-md-6 text-md-center">
        <span class="px-2">{{location.email}}</span>
        <span class="px-2">{{location.phone}}</span>
        <span class="px-2">{{location.address}}</span>
      </div>
      <div class="col-md-3 text-md-right text-muted">
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div>
      {% endfor %}
    </section>
  </div>
  <!-- //container -->
</footer>

<script>
  let spanTag = document.querySelector("#currentYear");
  let currentYear=  new Date().getFullYear();
  spanTag.innerHTML = currentYear;
</script>

