{%load static%}
<header class="section-header">
  <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTop4"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- navbar-collapse .// -->
    </div>
    <!-- container //  -->
  </nav>

  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-6">
          <a href="/" class="brand-wrap">
            <img class="logo" src="{% static 'images/logo.png'%}" />
          </a>
          <!-- brand-wrap.// -->
        </div>
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
          <div class="category-wrap dropdown d-inline-block float-right">
            <button
              type="button"
              class="btn btn-primary dropdown-toggle"
              data-toggle="dropdown"
            >
              <i class="fa fa-bars"></i> Tất cả danh mục
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'store' %}"
                  >All
                </a>
              {%for category in links%}
              <a class="dropdown-item" href="{{category.get_url}}">{{category.category_name}} </a>
              {%endfor%}
            </div>
          </div>
          <!-- category-wrap.// -->
        </div>
        <!-- col.// -->
        <a href="{% url 'store' %}" class="btn btn-outline-primary">Cửa hàng</a>
        <div class="col-lg col-md-6 col-sm-12 col">
          <form action="{% url 'search' %}" class="search">
            <div class="input-group w-100">
              <input
                type="text"
                class="form-control"
                style="width: 60%"
                placeholder="Tìm kiếm sản phẩm"
                name="keyword"
              />

              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
          <!-- search-wrap .end// -->
        </div>
        <!-- col.// -->
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
          <div class="d-flex justify-content-end mb-3 mb-lg-0">
           {% if user.id is None %}
           <div class="widget-header">
            <small class="title text-muted">Bạn đang truy cập với tư cách khách!</small>
            <div>
              <a href="{% url 'login' %}">Đăng nhập</a>
              <span class="dark-transp"> | </span>
              <a href="{% url 'register' %}"> Đăng ký</a>
            </div>
          </div>
           {% else %}
           <div class="widget-header">
            <small class="title text-muted">Xin chào {{user.first_name}}!</small>
            <div>
              <a href="{% url 'dashboard' %}">Tổng quan</a>
              <span class="dark-transp"> | </span>
              <a href="{% url 'logout' %}"> Đăng xuất</a>
            </div>
          </div>
           {% endif %}
            <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
              <div class="icon icon-sm rounded-circle border">
                <i class="fa fa-shopping-cart"></i>
              </div>
              <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
            </a>
          </div>
          <!-- widgets-wrap.// -->
        </div>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- container.// -->
  </section>
  <!-- header-main .// -->
</header>
<!-- section-header.// -->
