<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="max-age=604800"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>GreatKart</title>

    <link
            href="http://dcdnd.pythonanywhere.com/static/images/favicon.ico"
            rel="icon" type="image/x-icon"
    />

    <!-- jQuery -->
    <script
            src="{% static 'js/jquery-2.0.0.min.js'%}"
            type="text/javascript"
    ></script>

    <!-- Bootstrap4 files-->
    <script
            src="{% static 'js/bootstrap.bundle.min.js' %}"
            type="text/javascript"
    ></script>
    <link
            href="{% static 'css/bootstrap.css'%}"
            rel="stylesheet"
            type="text/css"
    />

    <!-- Font awesome 5 -->
    <link
            href="{% static 'fonts/fontawesome/css/all.min.css'%}"
            type="text/css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- custom style -->
    <link href="{% static 'css/ui.css'%}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/custom.css'%}" rel="stylesheet" type="text/css"/>
    <link
            href="{% static 'css/responsive.css'%}"
            rel="stylesheet"
            media="only screen and (max-width: 1200px)"
    />

    <!-- custom javascript -->
    <script src="{% static 'js/script.js'%}" type="text/javascript"></script>
</head>
<body>
    {% include 'includes/header.html' %}
    {% block content %} {% endblock %}
    {% include 'includes/footer.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $(".thumb a").click(function(e){
          e.preventDefault();
          $(".main-image img").attr("src", $(this).attr("href"));
        })

      })
    </script>
</body>
</html>
