{% extends 'base.html'%}{%load static%} {%block content%}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
  <div class="container">
    <div class="intro-banner-wrap">
      <img src="{% static 'images/banners/cover.jpg'%}" class="img-fluid rounded" />
    </div>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
  <div class="container">
    <header class="section-heading">
      <a href="{% url 'store'%}" class="btn btn-outline-primary float-right">Xem tất cả</a>
      <h3 class="section-title">Sản phẩm phổ biến</h3>
    </header>
    <!-- sect-heading -->

    <div class="row">
      {% for product in products%}
      <div class="col-md-3">
        <div class="card card-product-grid">
          <a href="{{product.get_url}}" class="img-wrap">
            <img src="{{product.image.url}}" />
          </a>
          <figcaption class="info-wrap">
            <a href="{{product.get_url}}" class="title"
              >{{product.product_name}}</a
            >
            <div class="price mt-1">{{product.price}}</div>
            <!-- price-wrap.// -->
            <div class="rating-star">
               <span>
                  <i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review < 1 %}-half-o{%else%}{%endif%}"
                     aria-hidden="true"></i>
                  <i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review < 2 %}-half-o {%else%}{%endif%}"
                     aria-hidden="true"></i>
                  <i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review < 3 %}-half-o {%else%}{%endif%}"
                     aria-hidden="true"></i>
                  <i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review < 4 %}-half-o {%else%}{%endif%}"
                     aria-hidden="true"></i>
                  <i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review < 5 %}-half-o {%else%}{%endif%}"
                     aria-hidden="true"></i>
              </span>
          </div>
          </figcaption>
        </div>
      </div>
      {%endfor%}
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </div>
  <!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

{% endblock %}
