{%extends 'base.html'%} {%load static%} {%block content%}

<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->

    {% if not cart_items %}
    <div class="text-center">
      <h2>KHông có sản phẩm nào trong giỏ hàng</h2>
      <br />
      <a href="{% url 'store'%}" class="btn btn-primary">Tiếp tục mua sắm</a>
    </div>
    {%else%}
    <div class="row">
      <aside class="col-lg-9">
        <div class="card">
          <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col">Sản phẩm</th>
                <th scope="col" width="120">Số lượng</th>
                <th scope="col" width="120">Đơn giá</th>
                <th scope="col" class="text-right" width="200"></th>
              </tr>
            </thead>
            <tbody>
              {% for cart_item in cart_items %}
              <tr class="align-middle">
                <td class="align-middle">
                  <figure class="itemside align-items-center">
                    <div class="aside">
                      <img
                        src="{{cart_item.product.image.url}}"
                        class="img-sm"
                      />
                    </div>
                    <figcaption class="info">
                      <a href="{{cart_item.product.get_url}}" class="title text-dark"
                        >{{cart_item.product.product_name}}</a
                      >
                      <p class="text-muted small">
                        {% if cart_item.variantions.all %}
                          {% for variant in cart_item.variantions.all %}
                          {{variant.variantion_category | capfirst}} : {{variant.variantion_value | capfirst}} <br/>
                          {% endfor %}
                        {% endif %}
                      </p>
                    </figcaption>
                  </figure>
                </td>
                <td class="align-middle">
                  <!-- col.// -->
                  <div class="col">
                    <div class="input-group input-spinner">
                      <div class="input-group-prepend">
                        <a
                          class="btn btn-light"
                          type="button"
                          id="button-plus"
                          href="{% url 'remove_cart' cart_item.product.id cart_item.id %}"
                        >
                          <i class="fa fa-minus"></i>
                        </a>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        value="{{cart_item.quantity}}"
                      />
                      <div class="input-group-append">
                        <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                          {% csrf_token %}
                          {% for item in cart_item.variantions.all %}
                            <input type="hidden" name="{{item.variantion_category | lower}}" value="{{item.variantion_value | capfirst}}">
                          {% endfor %}
                        <button
                          class="btn btn-light"
                          type="submit"
                          id="button-minus"
                        >
                          <i class="fa fa-plus"></i>
                        </button>
                      </form>
                      </div>
                    </div>
                    <!-- input-group.// -->
                  </div>
                  <!-- col.// -->
                </td>
                <td class="align-middle">
                  <div class="price-wrap">
                    <var class="price">{{cart_item.sub_total}}</var>
                    <small class="text-muted">
                      {{cart_item.product.price}} each
                    </small>
                  </div>
                  <!-- price-wrap .// -->
                </td>
                <td class="text-right align-middle">
                  <a
                    href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}"
                    onclick="return confirm('Are you sure you want to remove?')"
                    class="btn btn-danger"
                  >
                    Xóa</a
                  >
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <aside class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Tổng số tiền:</dt>
              <dd class="text-right">{{total}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Thuế tạm tính:</dt>
              <dd class="text-right">{{tax}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Thanh toán:</dt>
              <dd class="text-right text-dark b">
                <strong>{{grand_total}}</strong>
              </dd>
            </dl>
            <hr />
            <p class="text-center mb-3">
              <img src="{% static 'images/misc/payments.png'%}" height="26" />
            </p>
            <a href="{% url 'checkout' %}" class="btn btn-primary btn-block">
              THanh toán
            </a>
            <a href="{% url 'store' %}" class="btn btn-light btn-block"
              >Tiếp tục mua sắm</a
            >
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
    </div>
    {%endif%}
    <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{%endblock%}
