{%extends 'base.html'%} {%load static%} {%block content%}

<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="row">
      <aside class="col-lg-6">
        <form action="{% url 'place_order' %}" method="post">
        <div class="card">
         <div class="card-body">
          <h4 class="card-title mb-4">Thông tin nhận hàng</h4>
          {% csrf_token %}
            <div class="form-row">
              <div class="col form-group">
                <label >Họ</label>
                <input type="text" class="form-control" name="first_name" required />
              </div>
              <div class="col form-group">
                <label >Tên</label>
                <input type="text" class="form-control" name="last_name" required />
              </div>
            </div>
            <div class="form-row">
              <div class="col form-group">
                <label >Địa chỉ email</label>
                <input type="email" class="form-control" name="email" required />
              </div>
              <div class="col form-group">
                <label >Số điện thoại</label>
                <input type="text" class="form-control" name="phone_number" required />
              </div>
            </div>
            <div class="form-row">
              <div class="col form-group">
                <label >Địa chỉ 1</label>
                <input type="text" class="form-control" name="address_line_1" required />
              </div>
              <div class="col form-group">
                <label >Địa chỉ 2</label>
                <input type="text" class="form-control" name="address_line_2" required />
              </div>
            </div>
            <div class="form-row">
              <div class="col form-group">
                <label >Thành phố </label>
                <input type="text" class="form-control" name="city" required />
              </div>
              <div class="col form-group">
                <label >Khu vực</label>
                <input type="text" class="form-control" name="state" required />
              </div>
              <div class="col form-group">
                <label >Quốc gia</label>
                <input type="text" class="form-control" name="country" required />
              </div>
            </div>
            <div class="form-row">
              <label for="">Ghi chú đơn hàng</label>
              <textarea name="order_note" class="form-control" rows="2"></textarea>
            </div>
          </div>
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <aside class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <table class="table table-borderless table-shopping-cart">
              <thead class="text-muted">
                <tr class="small text-uppercase">
                  <th scope="col">Sản phẩm</th>
                  <th scope="col" width="120">Số lượng</th>
                  <th scope="col" width="120">Đơn giá</th>
                </tr>
              </thead>
              <tbody>
                {% for cart_item in cart_items %}
                <tr class="align-middle">
                  <td class="align-middle">
                    <figure class="itemside align-items-center">
                      <div class="aside">
                        <img
                          src="{{cart_item.product.image.url}}"
                          class="img-sm"
                        />
                      </div>
                      <figcaption class="info">
                        <a href="{{cart_item.product.get_url}}" class="title text-dark"
                          >{{cart_item.product.product_name}}</a
                        >
                        <p class="text-muted small">
                          {% if cart_item.variantions.all %}
                            {% for variant in cart_item.variantions.all %}
                            {{variant.variantion_category | capfirst}} : {{variant.variantion_value | capfirst}} <br/>
                            {% endfor %}
                          {% endif %}
                        </p>
                      </figcaption>
                    </figure>
                  </td>
                  <td class="align-middle">
                    <!-- col.// -->
                    <div class="col">
                      <div class="input-group input-spinner">
                        <label for="">{{cart_item.quantity}}</label>

                      </div>
                      <!-- input-group.// -->
                    </div>
                    <!-- col.// -->
                  </td>
                  <td class="align-middle">
                    <div class="price-wrap">
                      <var class="price">{{cart_item.sub_total}}</var>
                      <small class="text-muted">
                        {{cart_item.product.price}} each
                      </small>
                    </div>
                    <!-- price-wrap .// -->
                  </td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
            <button type="submit" class="btn btn-primary btn-block">
              Tiếp tục đặt hàng
            </button>
            <a href="{% url 'store' %}" class="btn btn-light btn-block"
              >Tiếp tục mua sắm</a
            >
          </form>
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{%endblock%}
