{%extends 'base.html'%} {% load static %} {%block content%}
<section class="section-content padding-y bg">
    <div class="container">
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap main-image">
                            <center><a href="#"><img src="{{product.image.url}}"/></a></center>
                        </div>
                        <!-- img-big-wrap.// -->
                    </article>
                    <!-- gallery-wrap .end// -->
                    <ul class="thumb">
                        <li>
                            <a href="{{product.image.url}}" target="main-image"><img src="{{product.image.url}}"/></a>
                            {% for image in product_gallery %}
                            <a href="{{image.image.url}}" target="main-image">
                                <img src="{{image.image.url}}" alt="Product Image">
                            </a>
                            {% endfor %}
                        </li>
                    </ul>
                </aside>
                <main class="col-md-6 border-left">
                    <form action="{% url 'add_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <article class="content-body">
                            <h2 class="title">{{product.product_name}}</h2>
                            <div class="rating-star">

                                <span>
                                    <i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review < 1 %}-half-o{%else%}{%endif%}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review < 2 %}-half-o {%else%}{%endif%}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review < 3 %}-half-o {%else%}{%endif%}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review < 4 %}-half-o {%else%}{%endif%}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review < 5 %}-half-o {%else%}{%endif%}"
                                       aria-hidden="true"></i>
                                <span>{{product.count_review}} lượt đánh giá</span>

                                </span>
                            </div>

                            <div class="mb-3">
                                <var class="price h4">{{product.price}}</var>
                            </div>
                            <p>{{product.description}}</p>
                            <hr/>
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Choose Color</h6>
                                    <select name="color" class="form-control" id="color" required>
                                        <option value="" disabled selected>Select</option>
                                        {% for i in product.variantion_set.colors %}
                                        <option value="{{i.variantion_value | lower }}">{{i.variantion_value | capfirst}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- row.// -->
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Select Size</h6>
                                    <select name="size" class="form-control" id="size">
                                        <option value="" disabled selected>Select</option>
                                        {% for i in product.variantion_set.sizes %}
                                        <option value="{{i.variantion_value | lower}}">{{i.variantion_value | capfirst}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- row.// -->
                            <hr/>
                            {% if product.stock <= 0 %}
                            <h5 class="text-danger">Hết hàng</h5>
                            {%else%}
                            <button type="submit" class="btn btn-primary">
                                <span class="text">Thêm vào giỏ hàng</span>
                                <i class="fas fa-shopping-cart"></i>
                            </button>

                            {%endif%}
                        </article>
                    </form>
                    <!-- product-info-aside .// -->
                </main>
                <!-- col.// -->
            </div>
            <!-- row.// -->
        </div>
        <!-- card.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

        <br/>

        <div class="row">
            <div class="col-md-9">


                <form action="{% url 'submit_review' product.id %}" method="POST">
                    {% csrf_token %}
                    <h5>Đánh giá sản phẩm</h5>
                    <div>
                        <!--Rating stars-->
                        <label>Đánh giá của bạn về sản phẩm này?</label>
                        <br>
                        <div class="rate">
                            <input type="radio" name="rating" id="rating10" value="5" required/><label for="rating10"
                                                                                                       title="5"></label>
                            <input type="radio" name="rating" id="rating9" value="4.5" required/><label for="rating9"
                                                                                                        title="4.5"
                                                                                                        class="half"></label>
                            <input type="radio" name="rating" id="rating8" value="4" required/><label for="rating8"
                                                                                                      title="4"></label>
                            <input type="radio" name="rating" id="rating7" value="3.5" required/><label for="rating7"
                                                                                                        title="3.5"
                                                                                                        class="half"></label>
                            <input type="radio" name="rating" id="rating6" value="3" required/><label for="rating6"
                                                                                                      title="3"></label>
                            <input type="radio" name="rating" id="rating5" value="2.5" required/><label for="rating5"
                                                                                                        title="2.5"
                                                                                                        class="half"></label>
                            <input type="radio" name="rating" id="rating4" value="2" required/><label for="rating4"
                                                                                                      title="2"></label>
                            <input type="radio" name="rating" id="rating3" value="1.5" required/><label for="rating3"
                                                                                                        title="1.5"
                                                                                                        class="half"></label>
                            <input type="radio" name="rating" id="rating2" value="1" required/><label for="rating2"
                                                                                                      title="1"></label>
                            <input type="radio" name="rating" id="rating1" value="0.5" required/><label for="rating1"
                                                                                                        title="0.5"
                                                                                                        class="half"></label>
                        </div>
                        <br>
                        Tiêu đề:
                        <input type="text" class="form-control" name="subject" required>
                        <br>
                        Nội dung đánh giá:
                        <textarea name="review" class="form-control" rows="4" required></textarea>
                        <br>
                        {% if request.user.is_authenticated %}
                        {% if ordered %}
                        <input type="submit" value="Gửi" class="btn btn-primary">
                        {% else %}
                        <p>Bạn phải mua hàng trước khi đánh giá</p>
                        {% endif %}
                        {% else %}
                        <p>Bạn phải để  <span><a href="{% url 'login' %}">đăng nhập</a></span> giá sản phẩm
                        </p>
                        {% endif %}
                    </div>
                    {% include 'includes/alert.html' %}
                </form>
                <br>

                <header class="section-heading">
                    <h3>Đánh giá của khách hàng</h3>
                    <div class="rating-star">

                                <span>
                                    <i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review < 1 %}-half-o{%else%}{%endif%}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review < 2 %}-half-o {%else%}{%endif%}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review < 3 %}-half-o {%else%}{%endif%}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review < 4 %}-half-o {%else%}{%endif%}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review < 5 %}-half-o {%else%}{%endif%}"
                                       aria-hidden="true"></i>
                                <span>{{product.count_review}} lượt đánh giá</span>

                                </span>
                    </div>

                </header>
                {% for review in reviews %}
                <article class="box mb-3">
                    <div class="icontext w-100">
                        <div class="text">
                            <span class="date text-muted float-md-right">{{review.updated_at}}</span>
                            <h6 class="mb-1">{{review.user.full_name}}</h6>
                            <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {%endif%}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {%endif%}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {%endif%}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {%endif%}"
                                       aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {%endif%}"
                                       aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- icontext.// -->
                    <div class="mt-3">
                        <h4>{{review.subject}}</h4>
                        <p>
                            {{review.review}}
                        </p>
                    </div>
                </article>
                {% endfor %}
            </div>
            <!-- col.// -->
        </div>
        <!-- row.// -->
    </div>
    <!-- container .//  -->
</section>
{%endblock%}
