{%extends 'base.html'%} {%load static%} {%block content%}

<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->

    <h4 class="text-center mb-10">Thông tin đơn hàng của bạn và thực hiện thanh toán</h4>
    <div class="row">
      <aside class="col-lg-8">
        <div class="card">
          <div class="card-header font-weight-bold">Thông tin đơn hàng</div>
          <div class="card-body">
            <p class="card-text mb-0">
              {{order.full_name}}
            </p>
            <p class="card-text mb-0">
              {{order.full_address}}
            </p>
            <p class="card-text mb-0">
              {{order.city}}, {{order.state}}
            </p>
            <p class="card-text mb-0">
              {{order.country}}
            </p>
            <p class="card-text mb-0">
              {{order.email}}
            </p>
            <p class="card-text mb-0">
              {{order.phone_number}}
            </p>
            {% if order.order_note %}
              <b>Ghi chú</b>: {{order.order_note}}
            {% endif %}
          </div>
        </div>
        <!-- card.// -->
        <div class="card">
          <div class="card-header font-weight-bold">Phương thức thanh toán</div>
          <div class="card-body">
            <p class="card-text">PayPal</p>
          </div>
        </div>
        <!-- card.// -->
        <div class="card">
          <div class="card-header font-weight-bold">Thông tin sản phẩm</div>
          <div class="card-body">
            <table class="table table-borderless table-shopping-cart">
              <thead class="text-muted">
                <tr class="small text-uppercase">
                  <th scope="col">Sản phẩm</th>
                  <th scope="col" width="120">Số lượng</th>
                  <th scope="col" width="120">Đơn giá</th>
                </tr>
              </thead>
              <tbody>
                {% for cart_item in cart_items %}
                <tr class="align-middle">
                  <td class="align-middle">
                    <figure class="itemside align-items-center">
                      <div class="aside">
                        <img
                          src="{{cart_item.product.image.url}}"
                          class="img-sm"
                        />
                      </div>
                      <figcaption class="info">
                        <a href="{{cart_item.product.get_url}}" class="title text-dark"
                          >{{cart_item.product.product_name}}</a
                        >
                        <p class="text-muted small">
                          {% if cart_item.variantions.all %}
                            {% for variant in cart_item.variantions.all %}
                            {{variant.variantion_category | capfirst}} : {{variant.variantion_value | capfirst}} <br/>
                            {% endfor %}
                          {% endif %}
                        </p>
                      </figcaption>
                    </figure>
                  </td>
                  <td class="align-middle">
                    <!-- col.// -->
                    <div class="col">
                      <div class="input-group input-spinner">
                        <label for="">{{cart_item.quantity}}</label>

                      </div>
                      <!-- input-group.// -->
                    </div>
                    <!-- col.// -->
                  </td>
                  <td class="align-middle">
                    <div class="price-wrap">
                      <var class="price">{{cart_item.sub_total}}</var>
                      <small class="text-muted">
                        {{cart_item.product.price}} each
                      </small>
                    </div>
                    <!-- price-wrap .// -->
                  </td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <aside class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Tổng số tiền:</dt>
              <dd class="text-right">{{total}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Thuế:</dt>
              <dd class="text-right">{{tax}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Thanh toán:</dt>
              <dd class="text-right text-dark b">
                <strong>{{grand_total}}</strong>
              </dd>
            </dl>
            <hr />
            <p class="text-center mb-3">
              <img src="{% static 'images/misc/payments.png'%}" height="26" />
            </p>
            <a href="{% url 'payment'%}?orderId={{order.order_number}}" class="btn btn-primary btn-block">
              Đặt hàng
            </a>

          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{%endblock%}
